
body {
  background: rgba(245, 245, 245, .9);
}

.skin-blue .main-header .logo:hover {
  background-color: #901628;
}

.box.box-solid.box-warning>.box-header {
  color:#fff;
  background:#a6192e;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.box.box-solid.box-warning{
background: rgba(245, 245, 245, .9);
box-shadow: 4px 10px 10px 0 rgba(30,30,30,.1);
border-radius: 20px;
border: rgba(245, 245, 245, .9);;
}


.skin-blue .main-header .navbar {
    background-color: #a6192e;
}

.skin-blue .main-header .logo {
    background-color: #a6192e;
    color: #fff;
    border-bottom: 0 solid transparent;
}